<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('Partiels/head') %>
    <link rel="stylesheet" href="/css/Beertypes/css>
    <!--kan også bruges istedet for nedstående-->

    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/Beertypes.css">
    <title>
        <%= typeof title !='undefined' ? title : '' %>
    </title>

    <title>Document</title> 
</head>
<!--form start-->
<body">
    <form method="post">
        <%- include('Partiels/Menu') %>
            <h1 class="box-shadow"> Administer øltype</h1>
            <br><br><br>
             <!--navn på øl + input-->
            <div>
                <label type="navn" class="navnbeertxt">Øl Type</label>
                <input type="text" class="navnbeer" name="type" value="<%= beertypes?.type %>">
            </div><br>
             <!--beskrivelse på øl + input-->
            <div>
                <label type="navn" class="descriptionbeertxt">Beskrivelse</label>
                <input type="text" class="descriptionbeer" name="beskrivelse" value="<%= beertypes?.beskrivelse %>">
            </div><br>
            <!--submit og reset knap-->
            <input type="submit" value="Gem" class="submit">
            <input type="reset" value="Nulstil" class="reset">

            <span><%= typeof message != 'undefined' ? message : ''  %></span>
    </form>
    <!--form slut-->
    <h2>Database</h2>
      <!--Database-->     
    <% if(typeof beertypes != 'undefined' && beertypes.length>0){%>
         <!--database overskrift indhold-->
        <table id="tablefills">
            <tr>
                <th>ID</th>
                <th>type</th>
                <th>beskrivelse</th>
                <th>Handlinger</th>              
            </tr>
             <!--løber data igennem i en forEach løkke-->
            <% beertypes.forEach((beertype)=> {%>

                <tr>
                    <td>
                        <%=beertype?.id %>
                    </td>
                    <td>
                        <%=beertype?.type %>
                    </td>        
                    <td>
                        <%=beertype?.beskrivelse %>
                    </td>                
                    <!--href /knapper/links-->
                    <td>
                        <a href="/beertypes/edit/<%= beertype?.id %> ">Ret</a>
                        <a href="/beertypes/delete/<%= beertype?.id %>"
                            onClick="return confirm('Er du sikker på du vil slette?')">slet</a>
                    </td>
                </tr>
                <% }) %>
        </table>
         <!--table slut-->
        <% } %>

            </body>

</html>